__pycache__/
*.pyc
build/
dist/
Output/
*.spec
config.json
.venv/
venv/
env/
.env
*.egg-info/
.mypy_cache/
.ruff_cache/
ffmpeg.exe
ffprobe.exe
ffmpeg-temp/
ffmpeg-temp.zip
MicrosoftEdgeWebview2Setup.exe
app.icns
app.png
